/* Margin resets for block-level elements */
* { margin: 0px;padding: 0px; }
html,body {
    background-color:#f7e7d0;
    color:black;
    padding:0px;
    margin:0px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 15px;
}

html>body, html>body #page {
    height: auto;

}


.bg {background: url(../images/button4.gif);text-decoration:none;}
.menu {padding:0 0 0 25%; margin:0; list-style:none; height:40px; background:#fff url(../images/button1a.gif) repeat-x; position:relative; font-family: Arial,Helvetica,sans-serif; text-decoration:none;}
.menu li.top {display:block; float:left; position:relative;text-decoration:none;}
.menu li a.current {padding:0 16px 0 20px; display:block; float:left;  height:40px; line-height:33px; color:black; text-decoration:none; font-size:12px;text-align:center; font-weight:bold; cursor:pointer; background: url(../images/button4.gif) no-repeat;}
.menu li a.top_link {display:block; float:left; height:40px; line-height:33px; color:white; text-decoration:none; font-size:12px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;}
.menu li a.top_link span {float:left; font-weight:bold; display:block; padding:0 24px 0 12px; height:40px;text-decoration:none;}
.menu li a.top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:40px; background:url(../images/down.gif) no-repeat right top;text-decoration:none;}
.menu li a.top_link:hover {color:#000; background: url(../images/button4.gif) no-repeat; text-decoration:none;height:39px;}
.menu li a.top_link:hover span {background:url(../images/button4.gif) no-repeat right top; text-decoration:none;}
.menu li a.top_link:hover span.down {background:url(../images/button4a.gif) no-repeat right top; text-decoration:none;}

.menu li:hover > a.top_link {color:#000; background: url(../images/button4.gif) no-repeat;text-decoration:none;}
.menu li:hover > a.top_link span {background:url(../images/button4.gif) no-repeat right top;text-decoration:none;}
.menu li:hover > a.top_link span.down {background:url(../images/button4a.gif) no-repeat right top;text-decoration:none;}

.menu table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;text-decoration:none;}

.menu a:hover {visibility:visible;text-decoration:none;}
.menu li:hover {position:relative; z-index:200;text-decoration:none;}

.menu ul,
.menu :hover ul ul,
.menu :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;text-decoration:none;}

.menu :hover ul.sub {left:2px; top:40px; right:2px; background: #fff; padding:3px 0; border:1px solid #f7e7d0/*#999999*/; white-space:nowrap; width:200px; height:auto;text-decoration:none;}
.menu :hover ul.sub li {display:block; height:20px; position:relative; float:left; width:250px;}
.menu :hover ul.sub li a {font-weight:normal;display:block; font-size:11px; height:20px; width:170px; line-height:20px; text-indent:5px; color:#000; text-decoration:none; border:3px solid #fff; border-width:0 0 0 3px;}
.menu :hover ul.sub li a.fly {background:#edcfa2/*#fff*/ url(../images/arrow.gif) 80px 7px no-repeat;text-decoration:none;}
.menu :hover ul.sub li a:hover {background:#f7e7d0/*#999999*/; color:#000;text-decoration:none;}
.menu :hover ul.sub li a.fly:hover {background:#f7e7d0/*#999999*/ url(../images/arrow_over.gif) 80px 7px no-repeat; color:black/*#fff*/;text-decoration:none;}
.menu :hover ul li:hover > a.fly {background:#f7e7d0/*#999999*/ url(../images/arrow_over.gif) 80px 7px no-repeat; color:black/*#fff*/;text-decoration:none;}

.menu :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul :hover ul
{left:90px; top:-4px; background: #fff; padding:3px 0; border:1px solid 999999; white-space:nowrap; width:93px; z-index:200; height:auto;text-decoration:none;}


a:link {color:#FFF;}
a:visited {color: gray;}
a:link, a:visited { text-decoration:none; /*border-bottom: 1px dotted #FF6A00;*/}
a:hover { text-decoration:none; border-bottom: 1px solid #FFF;}
pre { font-family: Arial,Helvetica,sans-serif/*'Lucida Console', 'Courier New', 'Courier', 'FreeMono', monospaced*/; font-size: 11px; line-height: 13px; }

h1, h2, h3, h4, h5, h6, p, pre, blockquote, cite, label, dl, ul, ol, fieldset, address {
    clear: both;
    margin: 1em 0;
    padding: 0;
    text-indent: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: .5em 0 .3em 0;
}

h2 {font:16px Helvetica, Verdana, Arial, sans-serif; color:  black/*#FFF/#231f20*/;
    /*text-shadow:2px 2px 2px #414042;*/
}
h1 {font:24px Helvetica, Verdana, Arial, sans-serif; color: black;
    padding: 0 0 0 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow:1px 1px 1px #414042;
    /* Legacy browsers */
    background:#edcfa2 url("gradient-bg.png") repeat-x top;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /* Internet Explorer */
    background: #edcfa2;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFafb1b4, endColorstr=#FFdcddde);
    /* Opera */
    background: #edcfa2 url("gradient-bg.svg");
    /* Recent browsers */
    background-image: -moz-linear-gradient(
        top,
        #f7e7d0,
        #edcfa2/*#dcddde*/
        );
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#f7e7d0),
        to(#edcfa2)
        );
    width: 105%
}
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

p {
    clear: inherit;
    text-align:left;
    color: black;
}

table {

    border-collapse: collapse;
    border-spacing: .3em;
    clear: both;
}

caption, th {
    text-align: left;
}

table, td {
    font-size: inherit;
}

ul, ol, li, dd, blockquote {
    margin-left: 1em;
    text-align: left;
}

address, abbr, acronym {
    font-style: normal;
}

acronym, abbr {
    border-bottom: 1px dotted #333;
    cursor: help;
}

acronym {
    text-transform: uppercase;
}

pre, kbd, code, samp, tt, var {
    font-family: monospace;
}

pre {
    white-space: pre-wrap;       /* css-3 */
}

del {
    text-decoration: line-through;
}

/* get forms to show up correctly */

form {
    margin: 1em 5%;
    padding: 0;
}

form label {
    cursor: pointer;
    margin: 0;
    padding: .3em;
}

fieldset {
    border: none;
}

select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}



/* list element margins and default styles */

ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: square; }
ul ul ul ul { list-style-type: disc; }

ol { list-style-type: decimal; }
ol ol { list-style-type: upper-alpha; }
ol ol ol { list-style-type: lower-roman; }
ol ol ol ol { list-style-type: decimal; }

li { margin-bottom: 2px;}

/* Miscellaneous oddities and fixes */

a img {
    border: none;
}

hr {
    background-color: #666;
    border-width: 0;
    height: 1px;
    margin:3px 0px;
    text-align: left;
    width: 95%;
}

iframe {
    border-width: 0;
}

:focus {
    outline: 0;
}

/* Standard HTML Form Controls */
input.button { border: 1px solid #111; font: 11px 'Arial', 'Helvetica'; font-weight: bold; background-color: #F6F6F6; color:#FF6A00;}
input.button:hover { background-color: #FFF; color:#FF6A00}

input.textbox, textarea.textbox { font: 12px 'Arial', 'Helvetica'; width: 200px; background-color: #F6F6F6; border: 1px solid #111; padding: 2px 3px 2px 3px;}
textarea.textbox { height: 120px; }
input.textbox:focus, textarea.textbox:focus {background-color: #fff; border-color: #FF6A00;}

select.listbox { font: 12px 'Arial', 'Helvetica'; width: 208px; background-color: #F6F6F6; border: 1px solid #111; color:#111;}
select.listbox:focus { background-color: #fff; border-color: #FF6A00;}
a.listboxReset { font-family: Arial,Helvetica,sans-serif; font-size: 8pt; text-decoration: none; color: #FF6A00; }
a.listboxReset:hover { text-decoration: underline; }

/**
  * Various QControl-specific Styles
*/

/* QFileAsset */
div.fileassetDbox { border: 4px solid #111; background-color: #EFEEEE; padding: 20px; width: 400px; overflow: auto; }
div.fileassetDbox h1 { margin: 0; }
div.fileassetDbox input { padding: 3px; margin-right: 5px; }

/* QDialogBox */
div.dialogbox { border: 4px solid #111; background-color: #fff; padding: 20px; width: 400px; overflow: auto; }

/* QDateTimePicker */
span.datetimepicker { }
span.datetimepicker select { font: 12px 'Arial', 'Helvetica'; background-color: #F6F6F6; border: 1px solid #111; }
span.datetimepicker select:focus { background-color: #fff; border-color: #FF6A00; }
span.datetimepicker select.month { width: 55px; }
span.datetimepicker select.day { width: 45px; margin-left: 8px; }
span.datetimepicker select.year { width: 60px; margin-left: 8px; }
span.datetimepicker select.hour { width: 65px; margin-left: 12px; margin-right: 2px; }
span.datetimepicker select.minute { width: 45px; margin-left: 2px; margin-right: 2px; }
span.datetimepicker select.second { width: 45px; margin-left: 2px; }

/* QDataGrid - TABLA*/
table.datagrid{
    border-top:1px solid black;
    border-right:1px solid black;
    margin:1em auto;
    border-collapse:collapse;
    
}

table.datagrid tr.odd td	{
    background:#f7fbff
}
table.datagrid tr.odd .column1	{
    background:#f4f9fe;
    
}
table.datagrid .column1	{
    background:#f9fcfe;
    
}
table.datagrid td {
    color:black;
    border-bottom:1px solid black;
    border-left:1px solid black;
    padding:.3em 1em;
    text-align:center;
}
table.datagrid th {
    font-weight:normal;
    color: black;
    text-align:left;
    border-bottom: 1px solid black;
    border-left:1px solid black;
    padding:.3em 1em;
}
table.datagrid thead th {
    width: 960px;
    background: #edcfa2 url("gradient-bg.png") repeat-x top;
    text-align:center;
    color: black;
    font:bold 1em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
}
table.datagrid tfoot th {
    text-align:center;
    background:#f4f9fe;
}
table.datagrid tfoot th strong {
    font:bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    margin:.5em .5em .5em 0;
    color:#FFF;
}
table.datagrid tfoot th em {
    color:#f03b58;
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}

table.datagrid .textbox{
    width: 100px;
}

table.datagrid .button{
    border: 1px solid #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: -moz-linear-gradient(21% 100% 90deg,#FF9300, #CB3400, #FF9300 70%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9300), to(#CB3400), color-stop(.6,#FF9300));
}

table.datagrid a {
    color: black;
}

/* QPaginator */
span.paginator { margin: 0; padding: 0;  }
span.paginator span { list-style-type:none; display: inline; padding: 0; margin: 0; }
span.paginator span.page a { text-decoration: none; color: #FFF; padding: 0 3px 0 3px; margin: 0 2px 0 2px;}
span.paginator span.page a:hover { background-color: white/*#c4c6c8*/; }
span.paginator span.arrow { font-weight: bold; color: gray/*#ccc*/; margin: 0; padding: 0 3px 0 3px; }
span.paginator span.arrow a { font-weight: bold; color: black/*#FFF*/; text-decoration: none; }
span.paginator span.selected { font-weight: bold; background-color: white/*#c4c6c8*/; padding: 0 3px 0 3px; margin: 0 2px 0 2px; border: 0px; border-style: solid; }
span.paginator span.break { color: #FFF; margin: 0 5px 0 5px; }
span.paginator span.ellipsis { color: #FFF; }

/* QCalendar */
div.calendar { width: 200px; border: 1px solid black; background-color: white; color: black;}
div.calendar div.navigator { background-color: #FF6A00; overflow: auto; height: 100%; color: white; padding: 2px 6px 2px 6px; }
div.calendar div.navigator div.left { float: left;  }
div.calendar div.navigator div.month { float: left; width: 80px; text-align: center; font-weight: bold; font-size: 11px; }
div.calendar div.navigator div.year { float: right; }
div.calendar div.navigator div.year span { font-size: 11px; font-weight: bold; margin-left: 6px; margin-right: 6px; }
div.calendar div.navigator a { color: #fff; text-decoration: none; }
div.calendar div.navigator a:hover { text-decoration: underline; }
div.calendar table { border: 0; margin-left: auto; margin-right: auto;}
div.calendar th { text-align: center; border: 0; padding: 4px 2px 4px 2px; font-weight: bold; font-size: 10px;}
div.calendar td { text-align: center; border-width: 0 0 1px 0; border-style: solid; border-color: black; padding: 0;}
div.calendar td.lastRow { border-width: 0;}
div.calendar td a { text-decoration: none; color: #000; display: block; padding: 2px 6px 2px 6px; }
div.calendar td.today { background-color: #ccc; }
div.calendar td.nonMonth a { color: silver; }
div.calendar td.selected { background-color: #c9a; font-weight: bold; }
div.calendar td a:hover { background-color: #FF6A00; color: #000; }
div.calendar div.options { text-align: center; background-color: #FF6A00; }
div.calendar div.options a { color: #fff; font-size: 10px; text-decoration: none;}
div.calendar div.options a:hover { text-decoration: underline; }

/**
  * Styles for Custom Render Functions as defined in QControl.class.php
*/

div.renderWithName { padding: 4px 0 4px 0; overflow: auto; height: 100%; }
div.renderWithName div.left { float: left; width: 200px; margin-right: 25px; }
div.renderWithName div.required { font-weight: bold; font-style: italic;}
div.renderWithName div.required:after{content: "*"; }
div.renderWithName div.left span.instructions { font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; color: #999; font-style: italic; text-transform: none;}

div.renderWithName div.right { }
div.renderWithName div.right span.error { margin-left: 15px; font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; color: #600;}

/**
  *   Layout Specific IDs
*/

#page { 
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin:0px auto;
    padding:0px;
    text-align:left;
}

#header_container{height:350px; position:relative; margin:0 auto; padding:0px; background-image:url(../images/header_slice.gif); background-repeat:repeat-x; background-position:top;}
#header { width:755px; height:299px; position:relative; margin:0 auto; padding:0px 9px 0px 14px; background-image:url(../images/logo.gif); background-repeat: no-repeat; background-position: top; }
#header img{height:86px; width:650px; position:absolute; top:0; left:161px; padding:0px;}
#header ul{
    width:480px;
    height:32px;
    position:absolute;
    top:305px;
    left:65px;
}

#header ul li{width:64px; height:32px; float:left; list-style: none;}

#header ul li.home{
    background:url(../images/topmenu-hover.jpg);
    background-repeat: no-repeat;
    color:#fff;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    line-height:32px;}

#header ul li a{
    width:80px;
    height:32px;
    display:block;
    background:url(../images/topmenu-normal.jpg);
    background-repeat: no-repeat;
    color:#666;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    line-height:32px;
    margin-top: 0;
    margin-right: 2px;
    margin-bottom: 0;
    margin-left: 0;}
#header ul li a:hover{
    background:url(../images/topmenu-hover.jpg);
    background-repeat: no-repeat;
    color:#fff;
    text-decoration:none;}
#header h1{
    padding:137px 0px 0px 33px;
    background:url(../images/banner.jpg) 0  no-repeat #fff;
    width:657px;
    height:59px;
    font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:13px;
    font-weight:bold;
    color: #3B3B3B;
    position:absolute;
    top:103px;
    left:89px
}
#body1{
    width:778px;
    height:100px;
    position:relative;
    background:url(../images/from_shadow.jpg) 0 100% no-repeat;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

#body1 form{
    width:690px;
    height:50px;
    margin:0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 88px;
}

#body1 form label{
    width:177px;
    height:44px;
    font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:20px;
    font-weight:bold;
    color: #000;
    background-color:#f7e7d0/*#807F7F*/;
    display:block;
    float:left;
    background-image: url(../images/level.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    padding-left:60px;
    line-height:44px;
    margin-top:17px;
}

#body1 form input{
    width:135px;
    height:18px;
    float:left;
    display:block;
    margin-top: 8px;
    margin-right: 25px;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0px;
}
#body1 form input.botton{
    width:56px;
    height:28px;
    float:left;
    background:url(../images/button.gif) 0 0 no-repeat #807F7F;
    border:none;
    color:#fff;
    padding:0px;
    margin-top: 8px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 15;
    font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 22px;
}

/*----/BODY1 PANEL----*/
#pageName { height:24px; font-size:14px; line-height:24px; font-weight:bold; }
#categoryName, #codeVersion { height:12px; line-height:12px; font-size:10px; } 
#pageLinks { height:12px; line-height:12px; font-size:10px; }
.headerGray {font-style:italic;}
#headerRight { width: 49%; text-align: right; float:right; padding-right:1%;}
#viewSource, #closeWindow { height:36px; line-height:36px; font-size:16px;}
#viewSource a, #closeWindow a { font-size:16px; font-weight:bold; color:#FFF;}
#willOpen { height:12px; line-height:12px; font-size:10px; font-style:italic;}
.headerSmall { font-size: 10px;}
a.headerLink:link, a.headerLink:visited { color: #FFF;}
a.headerLink:active, a.headerLink:hover { color: #F6F6F6; text-decoration:underline;}

#content { padding: 10px; clear:both; float:none; width:960px; margin:0px auto 50px auto;text-align:left;overflow: auto;}

div#draftList { }
div#draftList h1 { margin: 0; font: 20px 'Georgia', 'Times New Roman', 'Times'; font-weight: bold; }
div#draftList p { margin-top: 6px; margin-bottom: 18px;}

/* Formulario */
/*div#formControls { padding: 0 0 0 20px; background-color: #c4c6c8}*/
div#formControls {
    padding: 0 0 0 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* Legacy browsers */
    background: #edcfa2;    
}

div#formActions {background:#3b3b3c repeat-x ; padding: 10px; height: 20px; margin-top: 2px; border:0px solid #111; }
div#formActions div#save { float: left; }
div#formActions div#cancel { margin-left: 10px; float: left; }
div#formActions div#delete { float: right; }
#pageTitle { float:left; width:49%; height:20px; line-height:20px; font-size:16px; font-weight:bold;}
#formDraftLink { float:right; width:49%; height:20px; line-height:20px; font-size:14px; text-align:right;}
div#dashboard { clear:both; }
div#dashboard div#left { float: left; width: 200px; height: 100px; font-size: 10px; background-color: #F6F6F6; border: 1px solid #111; padding: 5px; }
div#dashboard div#right { float: left; margin-left: 10px; width: 738px;}
div#dashboard div#right div#pnlList { margin-bottom: 10px; border: 1px solid #111; padding: 5px; max-height: 300px; overflow: auto; }
div#dashboard div#right div#pnlEdit { border: 1px solid #111; padding: 5px; background-color: #F6F6F6; max-height: 240px; overflow: auto; }

/* ----- FOOTER ----- */
#footer {
    height:144px;
    background:url(../images/footerbg.gif) 0 0 repeat-x #3B3B3B;
    position:relative;
    margin:0 auto;
    color:#fff;
    font:13px/22px "Trebuchet MS",Arial, Helvetica, sans-serif;
    clear:both;
    padding:30px 0 0;
}

#footerLeft {
    width:546px;
    position:absolute;
    top:-3px;
    left:79px;
}
#footerLeft a img { border: 0px;}
#footerLeft li{float:left; list-style: none; }
#footerLeft ul li a{
    padding:0 10px 0;
    color:#fff;
    /*background: url(../images/footermenubg.gif) 0 0 repeat-x #3B3B3B;*/
    text-decoration:none
}
#footerLeft ul li a:hover{text-decoration:underline;}

#footerRight { width: 50%; text-align: right; float:right; padding-right:5px;}
#footerRight div { height:18px; line-height: 18px; }
#footerRight .templateworld{	
    background:#3B3B3B;
    color:#fff;
    display:block;
    position:absolute;
    top:64px;
    left:140px;
}
#footerRight .templateworld a{background:#3B3B3B; color:#fff; text-decoration:none;}
#footerRight .templateworld a:hover{text-decoration:underline;}
#footerRight p.copyright{
    width:300px;
    /*background: url(../images/copyrightbg.gif) 0 0 repeat-x #3B3B3B;*/
    color:#fff;
    position:absolute;
    top:25px;
    left:115px;
}
.footerSmall { font-size: 10px; line-height: 18px;}
a.footerLink { background-color:#FF6A00; color: #FFF; border-bottom: 1px dotted #FFF;}

#footerPan{width:778px; position:relative; margin:0 auto; margin-left: 32%;}

#footerlogoPan{
    display:block;
    width:215px;
    height:40px;
    position:absolute;
    top:52px;
    left:60%;
    background-image: url(../images/footerlogo.gif);
    text-align:right;
}
#footerPanhtml{width:70px; height:24px; display:block; position:absolute; top:49px; left:5px;}
#footerPanhtml a{width:65px; height:24px; display:block; background:url(../images/html-normal.gif) 0 0 no-repeat #3B3B3B; color:#fff; font-size:13px; line-height:23px; font-weight:bold; text-decoration:none;text-transform:uppercase; padding:0 0 0 5px;}
#footerPanhtml a:hover{background:url(../images/html-hover.gif) 0 0 no-repeat #3B3B3B; color:#fff;}
#footerPancss{width:58px; height:24px; display:block; position:absolute; top:50px; left:80px;}
#footerPancss a{width:49px; height:24px; display:block; background:url(../images/css-normal.gif) 0 0 no-repeat #3B3B3C; color:#3B3B3B; font-size:13px; line-height:24px; font-weight:bold; text-decoration:none; text-transform:uppercase; padding:0 0 0 10px;}
#footerPancss a:hover{background:url(../images/css-hover.gif) 0 0 no-repeat #3B3B3B; color:#3B3B3C; text-decoration:none;}

/* ----- End FOOTER ----- */

p.create {
    color: white;
    width: 150px;
    padding: 8px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: -moz-linear-gradient(21% 100% 90deg,#FF9300, #CB3400, #FF9300 70%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9300), to(#CB3400), color-stop(.6,#FF9300)); }
p.create a {
    color: white;
    font-weight: bold; }

.code { background-color: #F6F6F6; padding:10px; font: 11px 'Lucida Console', 'Courier New', 'Courier', monospaced; overflow: auto; width: 98%; max-height: 560px;}
.codeDisplay {background-color: #F6F6F6; width: 400px; height: 400px; overflow: auto; margin: 10px; padding: 10px;}

.instructions { background-color: #F6F6F6; padding: 20px; margin:20px auto; line-height: 20px; max-height: 300px; width:90%; overflow: auto; text-align:left;border:1px solid #111;}
.instruction_title { font-family: Arial,Helvetica,sans-serif; font-size: 22px; font-weight: bold; color: #FF6A00; margin-bottom: 20px;}

.main_navigator { text-align: center; background-color: #111; padding: 5px 20px; color: #ffcc99; width:90%; margin:auto;border:1px solid #111;}
a.main_navlink { color: #EEE; font-weight: normal; }
a.main_navselected { color: #ffffff; font-weight: bold; text-transform: uppercase; }
.main_info {font: 12px Verdana, Arial, Helvetica, sans-serif; padding: 5px 20px; width:90%; background-color: #E6E6E6; margin:auto; border:1px solid #111;}
#part1 blockquote, #part2 blockquote, #part3 blockquote { width:90%; padding:5px 20px;margin:10px auto;}
#part1 blockquote ul, #part2 blockquote ul, #part3 blockquote ul { width:90%; padding:2px 20px;margin:5px auto;}

.exampleList a:link,  .exampleList a:visited { border-bottom:none; }
.exampleList a:hover { text-decoration: underline; }

.warning { color: #aa0000; }

.textbox { width: 250px; font:bold 1.2em Helvetica,"Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; text-align:left;}
.listbox { width: 250px; font:bold 1.2em Helvetica,"Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; text-align:left;}
.button { font: 12px Helvetica, Verdana, Arial, sans-serif;font-weight: bold; border:1px solid #111; background-color:black; color:#FFF; padding:3px;}
#formActions .button {
    border: 1px solid black/*#FFF*/;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: -moz-linear-gradient(21% 100% 90deg,#FF9300, #CB3400, #FF9300 70%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9300), to(#CB3400), color-stop(.6,#FF9300))
}

.paginator_inactive_step { font-weight: bold; color: #aaaaaa; }
.paginator_active_step { font-weight: bold; color: #000000; text-decoration: none; }
.paginator_page { text-decoration: none; color: #000000; padding: 0px 40px 0px 40px; }
.paginator_selected_page { font-weight: bold; background-color: #ddccff; padding: 0px 40px 0px 40px; border: 1px; border-style: solid; }

.treenav_item {cursor: pointer; padding: 2px; font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; color:#111}
.treenav_item_selected {background-color: #FF6A00; color: #FFF;}
.treenav_item_hover {background-color: #F6F6F6; color:#000}

.renamer_item { padding: 2px; cursor: pointer; }
.renamer_item_selected { background-color: #F6F6F6; }

.textbox_panel { padding: 10px 0px 10px 0px; width: 300px; height: 250px; background-color: #F6F6F6; text-align: center; }

.top_nav { font: 13px 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif; color: #F6F6F6; }

.top_nav_selected { font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; font-weight: bold; color: #FFF; }
.top_member_nav { font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; color: white; }



.selectedStyle {background-color: #FFF;}
.treenav {background-color: #FFF; width: 300px; height: 400px; overflow: auto; margin:10px; padding: 10px;}


.data_repeater_example {background-color:#eeffdd;padding:10px;width:200px;border:1px solid #111;float:left;margin:5px;}
.tc {width: 200px; height: 100px; border: 1px solid #FF6A00; color: #111; font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; font-weight: bold; text-align: center; vertical-align: middle;}

.panelDefault {width:400px;height:400px;background-color:#efefef;border-width:1px;border-style:solid;float:left;overflow:auto;}
.panelRight {margin-left: 5px;}
.projectTitle {font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; font-weight: bold; width: 100%;}

.file_asset_dbox { border: 1px solid #111; background-color: #fff; padding: 20px; width: 400px; overflow: auto; }
.file_asset_dbox h1 { margin: 0; }
.file_asset_dbox input { padding: 3px; margin-right: 5px; }

.file_asset a {color: #111;}
.file_asset_icon {border-width: 2px; border-style: solid; border-color: #111;}

/*----DIVISOR PANEL----*/
#divisor{width:690px; height:220px;}
#divisor2{width:690px; height:40px;}


/*----Licencia Panel----*/
#LicenciaPan{width:187px; height:192px; background:url(../images/cnp.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#LicenciaPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#LicenciaPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#LicenciaPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#LicenciaPan p.ver a:hover{color:black; text-decoration:none;}
#LicenciaPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#LicenciaPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#LicenciaPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Empresa Panel----*/
#EmpresaPan{width:187px; height:192px; background:url(../images/empresa.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#EmpresaPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#EmpresaPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#EmpresaPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#EmpresaPan p.ver a:hover{color:black; text-decoration:none;}
#EmpresaPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#EmpresaPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#EmpresaPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----CodigoDePago Panel----*/
#CodigoDePagoPan{width:187px; height:192px; background:url(../images/codigopago.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#CodigoDePagoPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#CodigoDePagoPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#CodigoDePagoPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#CodigoDePagoPan p.ver a:hover{color:black; text-decoration:none;}
#CodigoDePagoPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#CodigoDePagoPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#CodigoDePagoPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----TipoDePago Panel----*/
#TipoDePagoPan{width:187px; height:192px; background:url(../images/tipodepago.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#TipoDePagoPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#TipoDePagoPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#TipoDePagoPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#TipoDePagoPan p.ver a:hover{color:black; text-decoration:none;}
#TipoDePagoPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#TipoDePagoPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#TipoDePagoPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----FaseLicencia Panel----*/
#FaseLicenciaPan{width:187px; height:192px; background:url(../images/faselicencia.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#FaseLicenciaPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#FaseLicenciaPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#FaseLicenciaPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#FaseLicenciaPan p.ver a:hover{color:black; text-decoration:none;}
#FaseLicenciaPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#FaseLicenciaPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#FaseLicenciaPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----VigenciaDeDocumento Panel----*/
#VigenciaDeDocumentoPan{width:187px; height:192px; background:url(../images/vigenciadedocumentos.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#VigenciaDeDocumentoPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#VigenciaDeDocumentoPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#VigenciaDeDocumentoPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#VigenciaDeDocumentoPan p.ver a:hover{color:black; text-decoration:none;}
#VigenciaDeDocumentoPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#VigenciaDeDocumentoPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#VigenciaDeDocumentoPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Importacion Panel----*/
#ImportacionPan{width:187px; height:192px; background:url(../images/importacion.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#ImportacionPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#ImportacionPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#ImportacionPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ImportacionPan p.ver a:hover{color:black; text-decoration:none;}
#ImportacionPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#ImportacionPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ImportacionPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Producto Panel----*/
#ProductoPan{width:187px; height:192px; background:url(../images/producto.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#ProductoPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#ProductoPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#ProductoPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ProductoPan p.ver a:hover{color:black; text-decoration:none;}
#ProductoPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#ProductoPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ProductoPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----ListaDeProducto Panel----*/
#ListaDeProductoPan{width:187px; height:192px; background:url(../images/listaproducto.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#ListaDeProductoPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#ListaDeProductoPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#ListaDeProductoPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ListaDeProductoPan p.ver a:hover{color:black; text-decoration:none;}
#ListaDeProductoPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#ListaDeProductoPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ListaDeProductoPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Proceso Panel----*/
#ProcesoPan{width:187px; height:192px; background:url(../images/proceso.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#ProcesoPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#ProcesoPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#ProcesoPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ProcesoPan p.ver a:hover{color:black; text-decoration:none;}
#ProcesoPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#ProcesoPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ProcesoPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Fase Panel----*/
#FasePan{width:187px; height:192px; background:url(../images/fase.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#FasePan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#FasePan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#FasePan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#FasePan p.ver a:hover{color:black; text-decoration:none;}
#FasePan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#FasePan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#FasePan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Documento Panel----*/
#DocumentoPan{width:187px; height:192px; background:url(../images/documento.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#DocumentoPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#DocumentoPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#DocumentoPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#DocumentoPan p.ver a:hover{color:black; text-decoration:none;}
#DocumentoPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#DocumentoPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#DocumentoPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----DocumentoFase Panel----*/
#DocumentoFasePan{width:187px; height:192px; background:url(../images/documentodelagestion.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#DocumentoFasePan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#DocumentoFasePan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#DocumentoFasePan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#DocumentoFasePan p.ver a:hover{color:black; text-decoration:none;}
#DocumentoFasePan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#DocumentoFasePan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#DocumentoFasePan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Proveedor Panel----*/
#ProveedorPan{width:187px; height:192px; background:url(../images/proveedor.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#ProveedorPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#ProveedorPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#ProveedorPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ProveedorPan p.ver a:hover{color:black; text-decoration:none;}
#ProveedorPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#ProveedorPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ProveedorPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Transporte Panel----*/
#TransportePan{width:187px; height:192px; background:url(../images/transporte.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#TransportePan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#TransportePan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#TransportePan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#TransportePan p.ver a:hover{color:black; text-decoration:none;}
#TransportePan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#TransportePan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#TransportePan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Pais Panel----*/
#PaisPan{width:187px; height:192px; background:url(../images/pais.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#PaisPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#PaisPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#PaisPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#PaisPan p.ver a:hover{color:black; text-decoration:none;}
#PaisPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#PaisPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#PaisPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Administrador Panel----*/
#AdministradorPan{width:187px; height:192px; background:url(../images/administrador.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#AdministradorPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#AdministradorPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#AdministradorPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#AdministradorPan p.ver a:hover{color:black; text-decoration:none;}
#AdministradorPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#AdministradorPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#AdministradorPan p.nuevo a:hover{color:black; text-decoration:none;}

/*----Empleado Panel----*/
#EmpleadoPan{width:187px; height:192px; background:url(../images/empleado.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#EmpleadoPan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#EmpleadoPan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#EmpleadoPan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#EmpleadoPan p.ver a:hover{color:black; text-decoration:none;}
#EmpleadoPan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#EmpleadoPan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#EmpleadoPan p.nuevo a:hover{color:black; text-decoration:none;}
/*----Responsable Panel----*/
#ResponsablePan{width:187px; height:192px; background:url(../images/responsable.png) 0 100% no-repeat #f7e7d0 /*#807F7F*/; float:left; margin:0 28px 0 0; font:13px/17px Verdana, Arial, Helvetica, sans-serif;}
#ResponsablePan p{padding:56px 0 0 30px; line-height:17px; display:inline-block;}
#ResponsablePan p.ver{width:40px; height:18px; padding:42px 0 0 32px;}
#ResponsablePan p.ver a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ResponsablePan p.ver a:hover{color:black; text-decoration:none;}
#ResponsablePan p.nuevo{width:40px; height:18px; padding:42px 0 0 16px;}
#ResponsablePan p.nuevo a{width:66px; height:18px; display:block; color:#fff; font:12px/18px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-decoration:none;}
#ResponsablePan p.nuevo a:hover{color:black; text-decoration:none;}

/*----BODY MIDDLE PANEL----*/
#bodymiddlePan{width:602px; position:relative; margin:0 auto; padding:0 88px; clear:both;}
#bodymiddlePan h2{
    width:400px;
    height:45px;
    display:block;
    background:#f7e7d0/*#807F7F*/;
    color:#231F20;
    font-weight:normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: normal;
}
#bodymiddlePan p.lasttext{padding:0 0 25px 0; color:black;}
#bodymiddlePan p span{background:#3B3B3B; color:#FCFCFC;}

/*----BODY BOTTOM PANEL----*/
#bodyBottomPan{width:690px; background:url(../images/body_shadow.gif) 0 0 no-repeat; position:relative; margin:0 auto; padding:54px 0 0 88px; clear:both;}
/*----BOTOM PANEL----*/
#bottomPan{height:282px; background:url(../images/bottombg.gif) 0 0 repeat-x; position:relative; margin:0 auto; padding:65px 0 0; clear:both; background-color:#807F7F;}

#bottomMainPan{
    width:600px;
    position:relative;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
#bottomBorderPan{width:778px; float:left; background:url(../images/bottomborder-bg1.gif) 0 0 repeat-y;}
#bottomBorderPan h2{
    width:210px;
    height:40px;
    position:absolute;
    top:28px;
    left:0px;
    display:block;
    background:#ccc;
    color:#0C0C0C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 40px;
}
#bottomBorderPan h3{
    width:210px;
    height:46px;
    position:absolute;
    top:28px;
    left:217px;
    display:block;
    background:#ccc;
    color:#0C0C0C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 40px;
}
#bottomBorderPan h4{
    width:210px;
    height:45px;
    position:absolute;
    top:28px;
    left:416px;
    display:block;
    background:#ccc;
    color:#0C0C0C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 40px;
}

#bottomBorderPan ul{
    float:left;
    width:200px;
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
#bottomBorderPan ul li{width:225px; height:22px; margin:0 10px 0 0;}
#bottomBorderPan ul li a{width:200px; height:22px; display:block; background:url(../images/arrow-normal.gif) 0 8px no-repeat #ccc; color:#3D3C2C; font:14px/22px Arial, Helvetica, sans-serif; text-decoration:none; padding:0 0 0 16px;}
#bottomBorderPan ul li a:hover{background:url(../images/arrow-hover.gif) 0 8px no-repeat #BDBDBD; color:#3D3C2C; text-decoration:none;}
/*----BOTOM PANEL----*/
#bottomPan{height:282px; background:url(../images/bottombg.gif) 0 0 repeat-x; position:relative; margin:0 auto; padding:65px 0 0; clear:both; background-color:#807F7F;}

#bottomMainPan{
    width:600px;
    position:relative;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
#bottomBorderPan{width:778px; float:left; background:url(../images/bottomborder-bg1.gif) 0 0 repeat-y;}
#bottomBorderPan h2{
    width:210px;
    height:40px;
    position:absolute;
    top:28px;
    left:0px;
    display:block;
    background:#ccc;
    color:#0C0C0C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 40px;
}
#bottomBorderPan h3{
    width:210px;
    height:46px;
    position:absolute;
    top:28px;
    left:217px;
    display:block;
    background:#ccc;
    color:#0C0C0C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 40px;
}
#bottomBorderPan h4{
    width:210px;
    height:45px;
    position:absolute;
    top:28px;
    left:416px;
    display:block;
    background:#ccc;
    color:#0C0C0C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 40px;
}

#bottomBorderPan ul{
    float:left;
    width:200px;
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
#bottomBorderPan ul li{width:225px; height:22px; margin:0 10px 0 0;}
#bottomBorderPan ul li a{width:200px; height:22px; display:block; background:url(../images/arrow-normal.gif) 0 8px no-repeat #ccc; color:#3D3C2C; font:14px/22px Arial, Helvetica, sans-serif; text-decoration:none; padding:0 0 0 16px;}
#bottomBorderPan ul li a:hover{background:url(../images/arrow-hover.gif) 0 8px no-repeat #BDBDBD; color:#3D3C2C; text-decoration:none;}
/* Check */
#check{
    height: 50px;
    background: url(../images/check.png) 50% no-repeat;
}

#notcheck{
    height: 50px;
    background: url(../images/notchecked.png) 50% no-repeat;
}
/* Tabla */
tr.tablafase {
    background-color:#FFF;


}
/*tr.tablafase {background-color:#807F7F;}*/

/*tr.tablafecha {background-color:green;}*/
tr.tablafecha {
    background: #3b3b3c url("gradient-bg.png") repeat-x top;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /* Internet Explorer */
    background: #3b3b3c;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF67686b, endColorstr=#FF3b3b3c);
    /* Opera */
    background: #3b3b3c url("gradient-bg.svg");
    /* Recent browsers */
    background-image: -moz-linear-gradient(
        top,
        #67686b,
        #3b3b3c
        );
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#67686b),
        to(#3b3b3c)
        );

}
tr.tablafecha td{border: 1px solid #807F7F; height: 50px;}

.th1 {background-color:#807F7F;border: 1px solid #807F7F; text-align: center; width:150px; border:0px; text-decoration: none;}

/*tr.tablafecha:hover{background-color:orange;}*/
tr.middle{
    /* Legacy browsers */
    background:#dcddde url("gradient-bg.png") repeat-x top;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /* Internet Explorer */
    background: #dcddde;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFafb1b4, endColorstr=#FFdcddde);
    /* Opera */
    background: #dcddde url("gradient-bg.svg");
    /* Recent browsers */
    background-image: -moz-linear-gradient(
        top,
        #afb1b4,
        #dcddde
        );
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#afb1b4),
        to(#dcddde)
        );
}

thead.seglic{
    background: #3b3b3c url("gradient-bg.png") repeat-x top;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /* Internet Explorer */
    background: #3b3b3c;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF67686b, endColorstr=#FF3b3b3c);
    /* Opera */
    background: #3b3b3c url("gradient-bg.svg");
    /* Recent browsers */
    background-image: -moz-linear-gradient(
        top,
        #67686b,
        #3b3b3c
        );
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#67686b),
        to(#3b3b3c)
        );
    text-align:center;
    color: #FFF;
    font:bold 1em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
}

thead.seglic td{border: 1px solid #807F7F;}

/* Status Licencia */
#estatus{
    padding: 4px;
    border: 1px solid #FFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.33, rgb(49,87,27)),
        color-stop(0.67, rgb(5,210,56))
    );
    background:-moz-linear-gradient(
        center bottom,
        rgb(49,87,27) 33%,
        rgb(5,210,56) 67%
    )
    /*
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: -moz-linear-gradient(21% 100% 90deg,#FF9300, #CB3400, #FF9300 70%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9300), to(#CB3400), color-stop(.6,#FF9300))*/
}

